CSVFiles = ./player_statistics.csv;./players.csv;./countries.csv;./continents.csv;./cities.csv;./teams.csv;./referees.csv;./team_statistics.csv;./stadiums.csv;./managers.csv
mappingFile = ./mapping.ttl
outputFile = ./mapping-output.ttl
format=TURTLE
prefixFile = mapping.ttl
baseIRI = http://www.example.org/foot-infos/resources/